@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@400;700&display=swap');

:root{
    --primary-dark-cyan: hsl(158,36%,37%);
    --primary-cream: hsl(30,38%,92%);

    --secondary-dark-blue: hsl(212,21%,14%);
    --secondary-dark-grayish-blue: hsl(228,12%,48%);
    --secondary-white: hsl(0,0%,100%);

    --ff-frances: 'Fraunces', serif;
    --ff-montserrat: 'Montserrat', sans-serif;

    --fw-400: 400;
    --fw-700: 700;

    --fs-paragraph: 14px;

    --space: 1.5vw;
}
*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-cream);
}
main{
    margin: 1rem;
    overflow: hidden;
    border-radius: 10px;
    background-color: var(--secondary-white);
}
picture .mobile{
    width: 100%;
    object-fit: contain;
}

.card{
    padding: 1rem;
}
.card__title{
    
    font-size: 1.1rem;
    margin-bottom: 1rem;
    letter-spacing: .05em;
    text-transform: uppercase;
    font-weight: var(--fw-400);   
    font-family: var(--ff-montserrat);
    color:var(--secondary-dark-grayish-blue);
}

.card__subtitle{

    font-size: 2.1rem;
    margin-bottom: 1rem;
    line-height: 1.05;
    font-weight: var(--fw-700);
    font-family: var(--ff-frances);
    
}

.card__body{
    margin-bottom: 1rem;

    font-size: 1rem;
    font-weight: var(--fw-400);
    font-family: var(--ff-montserrat);
    color: var(--secondary-dark-grayish-blue);
}
.price{
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: var(--fw-700);
    font-family: var(--ff-frances);
    color: var(--primary-dark-cyan);
    position: relative;
}
.price__old{
    position: absolute;
    top: 15%;
    font-size: 1.1rem;
    margin-left: 1rem;
    font-weight: var(--fw-400);
    font-family: var(--ff-montserrat);
    color: var(--secondary-dark-grayish-blue);
}

button{
    
    width: 100%;
    border: none;
    padding: 1rem;
    display: block;
    border-radius: 10px;

    font-size: 1.1rem;
    font-weight: var(--fw-700);
    color: var(--secondary-white);
    font-family: var(--ff-montserrat);
    background-color:var(--primary-dark-cyan);

}
button a{
    text-decoration: none;
    color: inherit;
}
.shop{
    margin-right: .5rem;
}
/*Media queries*/
@media only screen and (min-width: 475px){
    main{
        width: min(40vw,60vw);
        height: fit-content;

        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 1fr;
    }
    picture{
        width: 100%;
        height: 100%;
    }
    picture .mobile{
        width: 100%;
        height: 100%;
        display: inline-block;
        object-fit: cover;
    }
    .card{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .card__title{
        font-size: 1.1vw;
        margin-bottom: var(--space);
    }
    .card__subtitle{
        font-size: 2.5vw;
        margin-bottom: var(--space);
    }
    .card__body{
        font-size: 1vw;
        margin-bottom: var(--space);
    }
    .price{
        font-size: 2vw;
        margin-bottom: var(--space);
    }
    .price__old{
        font-size: 1.1vw;
    }
    button{
        padding: .8vw;
        cursor: pointer;
    }
    button:hover{
        background-color: var(--secondary-dark-blue);
    }
}

/*END OF MEDIA QUERIES*/

.attribution {
    position: absolute;
    bottom: 1rem;
    left: 0;
    right: 0;
    font-size: 14px;
    text-align: center;
    padding: 0 1rem;
    line-height: 1.5;
    color: var(--secondary-dark-blue);
    font-weight: 600;
    display: none;
}
.attribution a {
    color: var(--primary-dark-cyan);
}