@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@400;700&display=swap');

:root{
    --primary-dark-cyan: hsl(158,36%,37%);
    --primary-cream: hsl(30,38%,92%);

    --secondary-dark-blue: hsl(212,21%,14%);
    --secondary-dark-grayish-blue: hsl(228,12%,48%);
    --secondary-white: hsl(0,0%,100%);

    --ff-frances: 'Fraunces', serif;
    --ff-montserrat: 'Montserrat', sans-serif;

    --fw-400: 400;
    --fw-700: 700;

    --fs-paragraph: 14px;
}
*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-cream);
}
main{
    margin: 1rem;
    background-color: var(--secondary-white);
    border-radius: 10px;
    overflow: hidden;
    height: fit-content;
}
main .perfumeM{
    width: 100%;
    object-fit: cover;
}
main .perfumeD{
    display: none;
}
.main{
    padding: 1.5rem;
}
header{
    display: grid;
}
header h1{
    font-family: var(--ff-frances);
    font-size: 2rem;
    line-height: 110%;
}
header h2{
    order: -1;
    font-size: 14px;
    font-family: var(--ff-montserrat);
    text-transform: uppercase;
    font-weight: var(--fw-400);
    color: var(--secondary-dark-grayish-blue);
    letter-spacing: 3px;
    margin-bottom: 1rem;
}
header p{
    margin: 1.5rem 0;
    font-family:var(--ff-montserrat);
    font-size: 14px;
    font-weight: var(--fw-400);
    letter-spacing: 1px;
    color: var(--secondary-dark-grayish-blue);
}
.prices{
    display: flex;
}
.price{
    display: inline-block;
}
.new{
    font-family: var(--ff-frances);
    font-size: 1.8rem;
    color: var(--primary-dark-cyan);
    margin-right: .8rem;
}
.old{
    color: var(--secondary-dark-grayish-blue);
    align-self: center;
}
.btn{
    background-color: var(--primary-dark-cyan);
    text-align: center;
    margin-top: 1.5rem;
    padding: .8rem;
    border-radius: 10px;
}
.btn .shop, .btn p{
    display: inline-block;
    color: var(--secondary-white);
    font-family:var(--ff-montserrat);
    font-weight: var(--fw-700);
}

@media screen and (min-width: 500px){
    body{
        height: 100vh;
        justify-content: center;
        align-items: center;
    }
    main{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: 50%;
        max-height: 70%;
        margin: 0;
        padding: 0;
    }
    figure .perfumeM{
        display: none;
    }
    figure .perfumeD{
        display: block;
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
    figure{
        grid-column: 1/1;
    } 
    .main{
        grid-column: 2/-1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1.5rem;
    }

    header h1{
        font-family: var(--ff-frances);
        font-size: 3.2rem;
    }
    header h2{
        font-size: 1.2rem;
        margin-bottom: 1.5rem;
    }
    header p{
        font-size: 1.2rem;
    }
    .prices{
        margin: .8rem 0;
    }
    .new{
        font-size: 2rem;
        color: var(--primary-dark-cyan);
        margin-right: .8rem;
    }
    .btn{
        padding: 1.2rem;
    }
    .btn .shop{
        width: 5%;
        height: auto;
    }
    .btn p{
        margin-left: .4rem;
        font-size: 1.2rem;
    }
    .attribution{
        font-size: 1.2rem;
        padding: 0;
    }
}


.attribution {
    position: absolute;
    bottom: 1rem;
    left: 0;
    right: 0;
    font-size: 14px;
    text-align: center;
    padding: 0 1rem;
    line-height: 1.5;
    color: var(--secondary-dark-blue);
    font-weight: 600;
}
.attribution a {
    color: var(--primary-dark-cyan);
}